footer {
background-color: var(--white);
padding: 20px 0;
color: #2c3e50;
text-align: center;
border-top: 1px solid #ddd;
overflow-x: hidden;

.footer-buttons {
    margin-bottom: 10px;

    .footer-btn {
    font-size: 1.8rem;
    margin: 0 10px;
    color: #2c3e50;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background: none;
    border: none;

    &:hover {
        color: #bb1b1b;
        transform: scale(1.2);
    }
    }
}

.footer-text {
    font-size: 0.9rem;
}
}
