@mixin button-styles($bg-color, $hover-bg-color) {
background-color: $bg-color;
color: $white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;

&:hover {
    background-color: $hover-bg-color;
}
}

@mixin gradient-border {
border-left: 3px solid;
border-right: 3px solid;
border-image: linear-gradient(to bottom, $maroon, $navy-blue) 1;
}