// Navbar
.navbar-global {
    background-color: var(--white);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

.navbar-brand {
    img {
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
    }
}

.navbar-nav {
    .nav-link {
    color: rgb(44, 62, 80);
    font-size: 1rem;
    margin-left: 15px;
    transition: color 0.3s ease;

    &:hover {
        color: navy;
    }
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        img {
        height: 50px;
    }
    }

    .navbar-nav {
    .nav-link {
        margin-left: 0;
        text-align: center;
    }
    }
}
}
