encabezado-login {
color: var(--black);
padding: 10px 0;

nav {
    display: inline-block;

a {
    color: var(--black);
    margin: 0 15px;
    text-decoration: none;
    }
}

.contact {
    float: right;
    margin-right: 20px;
}
}

.contenedor-formulario-login {
background-color: var(--white);
width: 400px;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

.grupo-campo-login {
    margin-bottom: 15px;
    text-align: left;

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }

input,
    textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    textarea {
    height: 33px;
    }
}
}

button {
background-color: navy;
color: var(--white);
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;

&:hover {
    background-color: darken(navy, 10%);
}
}